.alignitems
  {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 30px;
    height:250px;
    width:250px;
    text-align:center;
    border:3px solid #fff;
    border-radius:10px;
    margin-right:40px;
  }
  form
  {
    flex-direction:column;
    margin-left:100px;
    margin-right:100px;
  }
  img
  {
    margin-bottom:20px;
    height:150px;
    width:150px;
    border-radius:50%;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
  }
  input
  {
    height:30px;
    outline:none;
    border:none;
  }