{% load static %}
<html lang="en">
<head>
    <link href="{% static 'css/ForgotPassword.css' %}" rel="stylesheet" />
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="bg" style="background-image: url('{% static 'images/b.jpg'%}')";>
    <form action="" method="post">
      {% csrf_token %}
      <br><br><label>Username</label><br /><br />
      <input type="text" name="username" /><br /><br />
      <label>Password</label><br /><br />
      <input type="{{form.password1}}" name="password" /><br /><br />
        <label>Confirm Password</label><br /><br />
      <input type="{{form.password2}}" name="password" /><br /><br /><br>
      <button type="submit">Set Password</button><br /><br />
    </form>
  </body>
</html>